<form class="log-in" action="/login" method="POST">
  <h2>Log In, Tikiphile: </h2>

  <p class="errors"><%= @error if @error%></p>

  <p>
    <label for="username"> User Name:</label>
    <input type="text" id="username" name="username">
  
    <label for="password"> Password:</label>
    <input type="password" id="password" name="password">
  </p>
  
  <input type="submit" value="Log In">
</form>
