<form class="center sign-up" action="/signup" method="POST">
  <h2 class="session">Become a Tikiphile </h2>
  <% if @user && @user.errors %>
    <% @user.errors.full_messages.each do |e|%>
      <p class="errors"><%= e %></p>
    <% end %>
  <% end %>
  
    <label for="name"> Name:</label><br>
    <input type="text" name="name" id="name" required><br>

    <label for="username"> User Name:</label><br>
    <input type="text" name="username" id="username" required><br>
  
    <label for="password"> Password:</label><br>
    <input type="password" name="password" id="password" required><br>
  
    <label for="password_confirmation"> Confirm your Password:</label><br>
    <input type="password" name="password_confirmation" required><br>
  
  <input class="button" type="submit" value="Sign Up"><br><br>
  <img src="/assets/wave.png" alt="" style="width:90px;height:90px;">
</form>