<form class="sign-up" action="/signup" method="POST">
  <h2>Become a Tikiphile: </h2>
  <% if @user && @user.errors.any? %>
    <% @user.errors.full_messages.each do |e|%>
      <p class="errors"><%= e %></p>
      <% end %>
  <% end %>

  <p>
    <label for="name"> Name:</label>
    <input type="text" name="name" id="name" required>
  </p>
  <p>
    <label for="username"> User Name:</label>
    <input type="text" name="username" id="username" required>
  </p>
  <p>
    <label for="password"> Password:</label>
    <input type="password" name="password" id="password" required>
  </p>

  <p>
    <label for="password_confirmation"> Confirm your Password:</label>
    <input type="password" name="password_confirmation" required>
  </p>
  
  <input type="submit" value="Sign Up">
</form>