body {
  background: cornsilk;
  font-family: 'Bungee', sans-serif;
  font-size: .9em;
  line-height: 1;
}

header {
  font-family: 'Bungee Shade';
  font-size: x-large;
  font-weight: 900;
  padding-top: 2em;
  letter-spacing: .4em;
  text-align: center;
  margin-bottom: 1.5em;
}

footer {
  margin: 10% 10% 2%;
}

span.icon{
  display: inline-block;
  padding: 50px;
}

h1{
  font-size: 2em;
  font-weight: 900;
}

h2.session {
  margin-bottom: 1.5em;
}

h4 {
  margin-top: 0.5em;
}

h6 {
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

.welcome {
  padding: 20px 0;
  font-size: .9em;
  margin-top: 2%;
}

.pad {
  padding-left: 2%;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  box-sizing: border-box;
}

.errors {
  color: rgb(122, 18, 18);
  font-size: large;
}

.logout {
  display: block;
  float: right;
}

.card {
  /* text-align: left; */
  background: floralwhite;
  padding: 0.9em;
  height: 620px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  border: 1.5px solid;
  box-shadow: 5px 10px #888888;
}

.button {
  background-color: #f4511e;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

.clear {
  clear: both;
  padding: 1.5%;
}

img {
  width: 94%;
  border-radius: 8px;
}

.user-form {
 padding-top: 2%;
}

.sml {
  padding: .9em;
  margin: 0 .3em;
  font-size: small;
}

.search {
  margin-bottom: 2%;
}

select {
  padding: .6em;
}

.med {
  padding: .6em;
}
