body {
  background: cornsilk;
  font-family: 'Bungee', sans-serif;
}

header {
  font-family: 'Bungee Shade';
  text-align: center;
}

 .welcome {
   text-align: center;
}

.sign-up {
  text-align: center;
}

.log-in {
  text-align: center;
}

.errors {
  color: rgb(122, 18, 18);
}