<a href="/drinks/new"><button class="button logout">New Drink</button></a>
<h2 class="center clear">Welcome <%= current_user.username %></h2>
<% if !@drinks && @drinks.empty? %>
  <h3 class="center">It's 5 o'clock somewhere, so let's get this party started.</h3>
  <div class="center"><a href="/drinks/new"><button class="button">Add your first drink!</button></a></div>
<% end %>

<div class="container">
<% @drinks.each_with_index do |drink, i|%>
  <% if i % 4 == 0 %>
    <div class="row">
  <% end %>
      <div class="col-3">
        <%= erb :'/drinks/_drink_card', locals: {drink: drink} %>
      </div>
  <% if i % 4 == 3 || i == @drinks.length-1 %>
  </div><br>
  <% end %>
<% end %>
</div>


<!-- probably would like a sort by drop down to organize drinks accordingly (ie:location, name, etc)>