<div class="center user-form">

<div style="display: inline-block; text-align: left;">
  <h2>Create a new drink</h2>

  <% if @user && @user.errors.any? %>
    <div class="errors">
    <%= @user.errors.full_message(:image_path, "is invalid, please try again or leave blank.")%>
    </div><br>
  <% end %>

  <form action="/drinks" method="POST">
  
    <label for="name">Drink Name:</label><br>
    <input type="text" name="name" id="name" required><br>

    <label for="category">How's it Served:</label><br>
    <input type="radio" name="liquor" value="rum based" checked>Rum Based
    <input type="radio" name="liquor" value="gin based" checked>Gin Based
    <input type="radio" name="liquor" value="whiskey based" checked>Whiskey Based<br>
    <input type="radio" name="served" value="on rocks" checked>On Rocks
    <input type="radio" name="served" value="shaken" checked>Shaken
    <input type="radio" name="served" value="fishbowl" checked>Fishbowl
    <input type="radio" name="served" value="frozen/blended" checked>Frozen/Blended</br><br>

    <label for="bar">Bar Name:</label><br>
    <input type="text" name="bar" id="bar" required><br>
  
    <label for="location">Location:</label><br>
    <input type="text" name="location" id="location" placeholder="ex: Denver, CO" required><br>
  
    <label for="rating">Rating:</label><br>
    <ul>
      <li><input type="radio" name="rating" value="0" checked required> 0 (SWILL!, never again)</li>
      <li><input type="radio" name="rating" value="1" checked> 1</li>
      <li><input type="radio" name="rating" value="2" checked> 2</li>
      <li><input type="radio" name="rating" value="3" checked> 3</li>
      <li><input type="radio" name="rating" value="4" checked> 4</li>
      <li><input type="radio" name="rating" value="5" checked> 5</li>
      <li><input type="radio" name="rating" value="6" checked> 6</li>
      <li><input type="radio" name="rating" value="7" checked> 7</li>
      <li><input type="radio" name="rating" value="8" checked> 8</li>
      <li><input type="radio" name="rating" value="9" checked> 9</li>
      <li><input type="radio" name="rating" value="10" checked> 10 out of 10 would drink again!</li>
    </ul>
    <label for="image_path">Image URL:</label><br>
    <input type="text" name="image_path" id="image_path"><br><br>
  <input class="button" type="submit" value="Upload Drink">
</form><br>
<a href="/drinks"><button class="button">Go Back</button></a>
</div>
</div>