<a href="/home"><button class="button">Community Home</button></a>
<a href="/drinks"> <button class="button">Your Home</button></a>
<a href="/drinks/new"><button class="button logout">New Drink</button></a>

<h2 class="center clear">Welcome to the community</h2>

<div class="container">
<% @drinks.each_with_index do |drink, i|%>
  <% if i % 4 == 0 %>
    <div class="row">
  <% end %>
      <div class="col-3">
        <%= erb :'/_home_drink_card', locals: {drink: drink} %>
      </div>
  <% if i % 4 == 3 || i == @drinks.length-1 %>
  </div><br><br>
  <% end %>
<% end %>
</div>