<div class="center welcome">
    <h3>A place for the discerning tiki drink drinker</h3><br>
    <img src="/assets/pineapple.png" alt="wave" style="width:90px;height:90px;"><br><br><br>
    <h3>Please</h3>
    <a href="/login" ><button class="button">Log In</button></a><br>
    <h4>or</h4>
    <a href="/signup"><button class="button">Sign Up</button></a><br><br>
    
</div>

