<div class="center welcome">
    <h3>A place for the discerning tiki drink drinker</h3><br>
    <h4>Please</h4>
    <a href="/login" ><button class="button">Log In</button></a><br>
    <h4>or</h4>
    <a href="/signup"><button class="button">Sign Up</button></a>
</div>

