<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Bungee Shade|Bungee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <title>The Tikiphiles</title>
  </head>
  <body>

    <header class="center">
      <div style="display:inline-flex">
        <img src="/assets/ughtiki.png" alt="" style="width:65px;height:65px;">
        <img src="/assets/happytiki.png" alt="" style="width:65px;height:65px;">
        <h1>The Tikiphiles</h1>
        <img src="/assets/dizzytiki.png" alt="" style="width:65px;height:65px;">
        <img src="/assets/angrytiki.png" alt="" style="width:65px;height:65px;">
      </div>
    </header>

    <% if logged_in? %>
      <form class="logout" action="/logout" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button class="button" type="submit">Log Out</button>
      </form>
    <% end %>
    
    <%= yield %>
    
    <footer class="center">
      <div style="opacity:0.4;">Coding4Waffles @2019</div>
    </footer>
    
  </body>
</html>